<?php if ($this->previewMode): ?>

    <?php if($value == ''): ?>
        <span class="form-control"></span>
    <?php else: ?>
        <div class="form-control"><?= Backend::dateTime($value, [
            'format'       => $format,
            'formatAlias'  => $formatAlias,
            'defaultValue' => $value
        ]) ?></div>
    <?php endif ?>

<?php else: ?>

    <div
        id="<?= $this->getId() ?>"
        class="field-datepicker"
        data-control="datepicker"
        <?php if ($formatMoment): ?>data-format="<?= $formatMoment ?>"<?php endif ?>
        <?php if ($minDate): ?>data-min-date="<?= $minDate ?>"<?php endif ?>
        <?php if ($maxDate): ?>data-max-date="<?= $maxDate ?>"<?php endif ?>
        <?php if ($yearRange): ?>data-year-range="<?= $yearRange ?>"<?php endif ?>
        <?php if ($firstDay): ?>data-first-day="<?= $firstDay ?>"<?php endif ?>
        <?php if ($ignoreTimezone): ?>data-ignore-timezone<?php endif ?>
    >

        <div class="input-with-icon right-align">
            <i class="icon icon-calendar-o"></i>
            <input
                type="text"
                id="<?= $this->getId('date') ?>"
                class="form-control align-right"
                autocomplete="off"
                <?= $field->getAttributes() ?>
                data-datepicker
            />
        </div>

        <input
            type="hidden"
            name="<?= $field->getName() ?>"
            id="<?= $field->getId() ?>"
            value="<?= e($value) ?>"
            data-datetime-value
        />

    </div>

<?php endif ?>